<!doctype html>
<html lang="en">
 <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Flask</title>
    
    <style>
        body {
            background-color: #90ee90;
        }

    </style>
    
    
 </head>
 <body>
    <div class="container">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-4 text-center">
          <h1>Second stage of</h1>
          <h1>IT Planet</h1>
          <p>This is a basic Flask application for this stage of the Olympiad.</p>
          <p>With love from Novosibirsk</p>
        </div>
      </div>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 </body>
</html>

